.tape tr {
    height: 60px;
}

.tape {
    border-spacing: 1px;
    border-collapse: separate;
}

.tape td {
    /*tape中普通单元的样式*/
    width: 60px;
    text-align: center;
    background: aliceblue;
}

.tape .current_pos {
    background: lightpink;
}

