{% extends "base.html" %}
{% block content %}
    <div class="text-left">
        <article style="border-bottom:0; padding-bottom: 4em;">
            <h1>欣杰</h1>
            <h5 class="col-xs-6">东北大学大二在读</h5>
            <div class=text-right>
                1996-09-04<span>&nbsp;</span>
            </div>
        </article>

        <article style="border-bottom:0;">
            <h3>关于这个博客</h3>

            <p>前端：css样式库bootstrap，并进行了小幅魔改</p>

            <p>后端：python的flask库，使用感受：小巧，几乎没有被框架限制住的感觉</p>

            <p>如果有兴趣可以看我的<a href="example.github.com">Github</a></p>
        </article>
    </div>

{% endblock %}